:root{
  --main-bg-color: brown;
  --small-row-size: 1.7em;
  --medium-row-size: calc(var(--small-row-size) * 2);
  --large-row-size: calc(var(--small-row-size) * 3);
  --meal-colour: #D0D0FF;
  --cellspacing: 0.2em;
}

.content tbody
{
  border: 0px none;
}
.outer-table
{
  border-collapse:separate;
  border-spacing: var(--cellspacing);
}

.inner-table
{
  width:100%;
  text-align:center;
}

.day-column
{
  min-width:25%;
  padding:1em;
  vertical-align:top
}

.blank
{
  height:calc(var(--small-row-size) * 20 + var(--cellspacing) * 13);
}

.table-header
{
  text-align: inherit;
  background-color: #E0E0E0;
}

.invited-speaker
{
  height: var(--medium-row-size);
  background-color: #E0FFE0;
}

.student-speaker
{
  height: var(--small-row-size);
}

.potential-speaker {
  height: var(--small-row-size);
}

.time-header {
  height: var(--small-row-size);
}

.coffee
{
  height: var(--small-row-size);
  background-color: #FFE0E0;
}
.agm
{
  height: var(--large-row-size);
  background-color: #D3D3D3;
}

.lunch
{
  height: var(--large-row-size);
  background-color: var(--meal-colour);
}

.dinner
{
  height: var(--large-row-size);
  background-color: var(--meal-colour);
}

.end
{
  height: var(--small-row-size);
  background-color: #AAA0E0;
}

.welcome
{
  height: var(--medium-row-size);
  background-color: #deb887;
}

.speaker-title {
  text-align :center;
  border: 1px solid black;
}

.multi-speaker {
  width: 50%;
}
